.img{
    width: 900px;
    height: 800px;
    padding-top: 100px;
    align-items: center;
}
h1{
    color: #4e3382;
    font-size: 5rem;
    padding-top: 30%;    
}
.navbar-brand{
    color: #4e3382;
    font-weight: 500;
    font-size: 1.5rem;
}
.nav-link{
    color: #4e3382;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    border-color: #4e3382;
    background-color: #4e3382;
}
.btn-primary:hover{
    background-color:#fff;
    color: #4e3382;
    border-color: #4e3382;
    box-shadow: 0 4px 8px 0 rgba(53, 17, 100, 0.2), 0 6px 20px 0 rgba(53, 17, 100, 0.19);
}
.btn-outline-secondary:hover{
    background-color: #4e3382;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(53, 17, 100, 0.2), 0 6px 20px 0 rgba(53, 17, 100, 0.19);
}
.btn-outline-secondary{
  border-color: #4e3382;
  color: #4e3382;
}
.buttons{
    padding-top: 2%;
}
.buttons-p{
    padding-top: 5%;
}
.icon{
    font-size: 3rem;
    padding-top: 20%;
    color: #4e3382;
}
a{
    color: #4e3382;
}
a:hover{
    color: #74528f;
}
.footer{
    text-align: center;
    padding: 5%;
}